<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="class2">
            <app-search></app-search>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>JMBG</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sub of subs">

                    <td>{{sub.jmbg}}</td>
                    <td>{{sub.firstName}}</td>
                    <td>{{sub.lastName}}</td>
                    <td><button type="submit" class="btn" (click)="newProposal(sub.id)" routerLink="/newProposal/{{sub.id}}">Next</button>
                    </td>

                </tr>
            </tbody>
        </table>
        {{jmbg}}
        <div *ngIf="subs?.length ==0">
            Not found <a routerLink='/addPerson'>Add new subscriber</a>
        </div>

    </div>
</div>
