<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <div class="limiter">
        <div class="container-login100">
        <div class="content">
            <div class="text">
                Login
            </div>
            <form #loginform="ngForm" (ngSubmit)="login()">
                <div class="field">
                    <input type="text" name="username" [(ngModel)]="user.username" required>
                    <span class="fas fa-user"></span>
                    <label>Username</label>
                </div><br>
                <div class="field">
                    <input type="password" name="pass" [(ngModel)]="user.password" required>
                    <span class="fas fa-lock"></span>
                    <label>Password</label>
                </div><br>
                <button>Sign in</button>
            </form>
        </div>
    </div>
    </div>
</body>

</html>