<h3>Insurance plans</h3>
<!--<span>
  <table>
        <td><p>....</p></td>
        <td *ngFor="let plan of plans">
            {{plan.name}} ({{plan.amount}})
        </td>
    </table>
<table>
    <tr *ngFor="let item of items">
        {{item.name}}  
        <td *ngFor="let plan of plans"><pre>     +     </pre></td>
    </tr>
  </table> 
</span>-->


<!--<span>
    
<table>
    <td *ngFor="let plan of plans">
        {{plan.name}} ({{plan.amount}})

        <tr *ngFor="let item of allItems"> <pre *ngIf="show(item.id,plan)">    {{item.name}} +     </pre></tr>
    </td>
</table>
</span> -->
<table>
    <span *ngFor="let plan of plans">
        <td>
            <div class="card">
                <div class="card-header">
                    {{plan.name}}
                    <div class="card-body" *ngFor="let item of itemsInPlan(plan.id)">

                        {{item.name}}
                        <!-- <div *ngIf="premium(plan.id)"> -->
                        <div *ngIf="plan.isPremium">
                            <label for="fransiza"> put franchise (%) </label>
                            <input type="number" name="fransiza" id="fransiza" [(ngModel)]="item.franchise">

                            
                        </div>
                    </div>
                    <div class="card-body" *ngFor="let item of itemsNotInPlan(plan.id)">
                        <div *ngIf="plan.isPremium">
                            <span class="clickable" (click)="addItem(plan.id,item.id)">add {{item.name}}</span>
                            <br>
                            <label for="fransiza"> put franchise (%) </label>
                            <input *ngIf="added(plan,item.id)" type="number" name="fransiza" id="fransiza" [(ngModel)]="item.franchise">
                        </div>
                    </div> 
                </div>

                <div class="card-footer"><input id="plan{{plan.name}}" [value]='plan' type="radio" name="plans"
                        [(ngModel)]="radioSelected"></div>
                <br>
            </div>
        </td>
    </span>
</table>
<button (click)="choosePlan()">ok</button>