<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="col-sm-2 form-group">
                <label for="brand">Brand</label>
                <input type="text" id="brand" class="form-control" name="brand" ngModel>
            </div>
            <div class="col-sm-2 form-group">
                <label for="model">Model</label>
                <input type="text" id="model" class="form-control" name="model" ngModel>
            </div>
            <div class="col-sm-2 form-group">
                <label for="year">Year</label>
                <input type="text" id="year" class="form-control" name="year" ngModel>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" type="submit">Add</button>
                    <button type="submit" class="btn btn-success" routerLink="/carCrud">Back to overview</button>
                </div>
                <p>{{ msg }} </p>
            </div>
        </form>
    </div>
</div>