<div class="container">
    <div class="row">
        <div class="col-sm-2 form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" name="firstName" (keyup) ="searchPeople($event)" [(ngModel)]="firstName">
        </div>
        <div class="col-sm-2 form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" name="lastName" (keyup) ="searchPeople($event)" [(ngModel)]="lastName">
        </div>
        <div class="col-sm-2 form-group">
            <label for="jmbg">Jmbg</label>
            <input type="text" id="jmbg" class="form-control" name="jmbg" (keyup) ="searchPeople($event)" [(ngModel)]="jmbg">
        </div>
        <div class="col align-self-end">
            <button class="btn btn-primary" type="submit" >Search</button>
        </div>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>MaritalStatus</th>
                    <th>Gender</th>
                    <th>Jmbg</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Home Phone</th>
                    <th>Mobile Phone</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable" *ngFor="let person of persons">

                    <td>{{person.firstName}}</td>
                    <td>{{person.lastName}}</td>
                    <td>{{maritalStatuses[person.maritalStatus].name}}</td>
                    <td>{{genders[person.gender].name}}</td>
                    <td>{{person.jmbg}}</td>
                    <td>{{person.birth}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.homePhone}}</td>
                    <td>{{person.mobilePhone}}</td>
                    <td>{{person.city}}</td>

                    <button class="btn btn-primary" (click)="onEdit(person)">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(person)">Delete</button>
                  
                </tr>
                
            </tbody>
            
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" (click)="onIncrement()">Next Page</button>
            <button class="btn btn-danger" (click)="onDecrement()">Previous Page</button>
        </div>
    </div>
    <h3>{{deleteMsg}}</h3>
    
</div>



<jw-modal id="personEditModal">
    <h1> Person Edit </h1>
      <form (ngSubmit)="onSave(f)" #f="ngForm">
        <div class="col-sm-2 form-group">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" class="form-control" name="firstName" value="{{ firstNamePlaceholder }}"
             [(ngModel)] = "firstNamePlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" class="form-control" name="lastName" value="{{ lastNamePlaceholder }}"
             [(ngModel)] = "lastNamePlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="maritalStatus">maritalStatus</label>
            <input type="text" id="maritalStatus" class="form-control" name="maritalStatus" value="{{ maritalStatusPlaceholder }}"
            [(ngModel)] = "maritalStatusPlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="gender">gender</label>
            <input type="text" id="gender" class="form-control" name="gender" value="{{ genderPlaceholder }}" 
            [(ngModel)] = "genderPlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="jmbg">jmbg</label>
            <input type="text" id="jmbg" class="form-control" name="jmbg" value="{{ jmbgPlaceholder }}" 
            [(ngModel)] = "jmbgPlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="birth">birth</label>
            <input type="text" id="birth" class="form-control" name="birth" value="{{ birthPlaceholder }}" 
            [(ngModel)] = "birthPlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="email">email</label>
            <input type="text" id="email" class="form-control" name="email" value="{{ emailPlaceholder }}" 
            [(ngModel)] = "emailPlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="homePhone">homePhone</label>
            <input type="text" id="homePhone" class="form-control" name="homePhone" value="{{ homePhonePlaceholder }}" 
            [(ngModel)] = "homePhonePlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="mobilePhone">mobilePhone</label>
            <input type="text" id="mobilePhone" class="form-control" name="mobilePhone" value="{{ mobilePhonePlaceholder }}" 
            [(ngModel)] = "mobilePhonePlaceholder">
        </div>
        <!-- <div class="col-sm-2 form-group">
            <label for="address">address</label>
            <input type="text" id="address" class="form-control" name="address" value="{{ addressPlaceholder }}" 
            [(ngModel)] = "addressPlaceholder">
        </div> -->
        <div class="col-sm-2 form-group">
            <label for="city">city</label>
            <input type="text" id="city" class="form-control" name="city" value="{{ cityPlaceholder }}" 
            [(ngModel)] = "cityPlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="streetName">streetName</label>
            <input type="text" id="streetName" class="form-control" name="streetName" value="{{ streetNamePlaceholder }}" 
            [(ngModel)] = "streetNamePlaceholder">
        </div>
        <div class="col-sm-2 form-group">
            <label for="streetNumber">streetNumber</label>
            <input type="text" id="streetNumber" class="form-control" name="streetNumber" value="{{ streetNumberPlaceholder }}" 
            [(ngModel)] = "streetNumberPlaceholder">
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" type="submit">Edit</button>
                <button (click)="closeModal('personEditModal');">Close</button>
            </div>
        </div>
      </form>
      <p>{{ editMsg }}</p>
  </jw-modal> 