<mat-accordion style="background: blue;">
    <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Add new driver
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form #AddSubForm="ngForm" (ngSubmit)="addNewDriver(driver)" class="contact-form form-validate" method="post"
            action="">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" [(ngModel)]="driver.firstName"
                            name="firstName">
                    </div>
                </div>

                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="driver.lastName"
                            name="lastName">
                    </div>
                </div>

                <!-- <div class="col-sm-12 mb-3">
                <div class="form-group">
                    <label class="required-field" for="maritalStatus">Marital status</label>
                    <input type="text" class="form-control" id="maritalStatus" [(ngModel)]="sub.maritalStatus" name="maritalStatus">
                </div>
            </div><br> -->



                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="maritalStatus">Marital status Jovic</label>
                        <select name="ms" [(ngModel)]="driver.selectedMaritalStatus">
                            <option *ngFor="let obj of maritalStatuses" [ngValue]="obj">
                                {{ obj.name }}
                            </option>
                        </select>
                    </div>
                </div><br>


                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="gender">Gender</label>
                        <select name="ms" [(ngModel)]="driver.gender">
                            <option *ngFor="let obj of genders" [ngValue]="obj.id">
                                {{ obj.name }}
                            </option>
                        </select>
                    </div>
                </div><br>





                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="jmbg">JMBG</label>
                        <input type="text" class="form-control" id="jmbg" [(ngModel)]="driver.jmbg" name="jmbg">
                    </div>
                </div><br>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="birth">Birth</label>
                        <input type="date" class="form-control" id="birth" [(ngModel)]="driver.birth" name="birth">
                    </div>
                </div><br>

                <div class="col-sm-4 mb-3">
                    <div class="form-group">
                        <label for="lastName">Home phone</label>
                        <input type="text" class="form-control" id="homePhone" [(ngModel)]="driver.homePhone"
                            name="homePhone">
                    </div>
                </div>

                <div class="col-sm-4 mb-3">
                    <div class="form-group">
                        <label for="lastName">Mobile phone</label>
                        <input type="text" class="form-control" id="mobilePhone" [(ngModel)]="driver.mobilePhone"
                            name="mobilePhone">
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="contact">Email</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="driver.email" name="email">
                    </div>
                </div><br>



                <div class="col-sm-12 mb-3">

                </div><br>
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="country">Countries</label>
                        <select name="ms" [(ngModel)]="driver.country" (change)="confirmCountry()">
                            <option *ngFor="let obj of countries" [ngValue]="obj">
                                {{ obj.name }}
                            </option>
                        </select>

                    </div>

                </div><br>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="city">Cities</label>
                        <select name="ms" [(ngModel)]="driver.city" (change)="confirmCity()">
                            <option *ngFor="let obj of cities" [ngValue]="obj">
                                {{ obj.name }}
                            </option>
                        </select>

                    </div>
                </div><br>

                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="address">Addresses</label>
                        <select name="ms" [(ngModel)]="driver.address">
                            <option *ngFor="let obj of addresses" [ngValue]="obj.id">
                                {{ obj.street }} {{ obj.streetNumber }}
                            </option>
                        </select>
                    </div>
                </div><br>
                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="licenceNumber">Licence number</label>
                        <input type="text" class="form-control" id="licenceNumber" [(ngModel)]="driver.licenceNum"
                            name="licenceNumber">
                    </div>
                </div>
                <div class="col-sm-12 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="licenceObtained">Licence Obtained</label>
                        <input type="date" class="form-control" id="licenceObtained"
                            [(ngModel)]="driver.licenceObtained" name="licenceObtained">
                    </div>
                </div><br>
                <div class="col-sm-6 mb-3">
                    <div class="form-group">
                        <label class="required-field" for="yearsInsured">Years insured</label>
                        <input type="number" class="form-control" id="yearsInsured" [(ngModel)]="driver.yearsInsured"
                            name="yearsInsured">
                    </div>
                </div>
                <a class="nav-link" (click)="openA(contentA)">Add accident</a>
                <a class="nav-link" (click)="open(content)">Add risk</a>

                <div class="col-sm-12 mb-3">
                    <button type="submit" name="submit" class="btn btn-primary">Save</button>
                </div>


            </div>
        </form>


    </mat-expansion-panel>



    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Add existing driver
            </mat-panel-title>
        </mat-expansion-panel-header>
        type driver's jmbg

        <div class="col-sm-6 mb-3">
            <div class="form-group">
                <label for="jmbg">Driver's jmbg</label>
                <input type="text" class="form-control" id="jmbg" [(ngModel)]= "jmbg" name="jmbg">
                <br>
                <button (click)="addExistingDriver()">add Driver</button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Risk</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">

                <select required name="description" class="form-control">
                    <option value="undefined">Select risk</option>
                    <option *ngFor="let r of ris" [ngValue]="r.id">
                        {{r.description}}
                    </option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>

    </div>
</ng-template>

<ng-template #contentA let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title1">Accident history</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form >
            <div class="form-group">
                <input type="text" class="form-control" id="description" placeholder="accident description" [(ngModel)]="accidentHistory.description" name="description"><br>
                <input type="date" class="form-control" id="happened" [(ngModel)]="accidentHistory.happened" name="happened">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="addAccident(accidentHistory,driver.id)">Save</button>

    </div>
</ng-template>

<hr>

