<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
  
                <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px"
                        height="626px">
                        <defs>
                            <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                                <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                                <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
                            </linearGradient>
  
                        </defs>
                        <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)"
                            d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z">
                        </path>
                        <path fill="url(#PSgrad_1)"
                            d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z">
                        </path>
                    </svg>
                </figure>
            </div>
  
            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form #AddSubForm="ngForm" (ngSubmit)="addSubscriber(sub)" class="contact-form form-validate" method="post" action="" >
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" [(ngModel)]="sub.firstName" name="firstName">
                            </div>
                        </div>
  
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" [(ngModel)]= "sub.lastName" name="lastName">
                            </div>
                        </div>
  
                        <!-- <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="maritalStatus">Marital status</label>
                                <input type="text" class="form-control" id="maritalStatus" [(ngModel)]="sub.maritalStatus" name="maritalStatus">
                            </div>
                        </div><br> -->
  
  
  
                        <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label class="required-field" for="maritalStatus">Marital status Jovic</label>
                              <select name="ms" [(ngModel)]="sub.selectedMaritalStatus" >
                                  <option *ngFor="let obj of maritalStatuses" [ngValue]="obj">
                                    {{ obj.name }}
                                  </option>
                                </select>
                          </div>
                      </div><br>
  
  
                      <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label class="required-field" for="gender">Gender</label>
                              <select name="ms" [(ngModel)]="sub.gender" >
                                  <option *ngFor="let obj of genders" [ngValue]="obj">
                                    {{ obj.name }}
                                  </option>
                                </select>
                          </div>
                      </div><br>
  
                      
                      <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label class="required-field" for="gender">Gender</label>
                              <div *ngFor="let gender of genders">
                                  <label for="gender{{gender.name}}">
                                    <input id="gender{{gender.name}}" [value]='gender' type="radio" name="genders" [(ngModel)]="radioSelected">
                                    {{gender.name}}
                                  </label>
                                </div>
                          </div>
                      </div><br>
                      <button (click)='radioFun()'>Checked value of radio button</button>
  
  
                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="jmbg">JMBG</label>
                                <input type="text" class="form-control" id="jmbg" [(ngModel)]="sub.jmbg" name="jmbg">
                            </div>
                        </div><br>

                        <div class="col-sm-12 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="birth">Birth</label>
                                <input type="date" class="form-control" id="birth" [(ngModel)]="sub.birth" name="birth">
                            </div>
                        </div><br>
                        
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="lastName">Home phone</label>
                                <input type="text" class="form-control" id="homePhone" [(ngModel)]="sub.homePhone" name="homePhone">
                            </div>
                        </div>
                        
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label for="lastName">Mobile phone</label>
                                <input type="text" class="form-control" id="mobilePhone" [(ngModel)]="sub.mobilePhone" name="mobilePhone">
                            </div>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="contact">Email</label>
                                <input type="text" class="form-control" id="email" [(ngModel)]="sub.email" name="email">
                            </div>
                        </div><br>
                        
                        
                       
                        <div class="col-sm-12 mb-3">
                          
                        </div><br>
                        <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label class="required-field" for="country">Countries</label>
                              <select name="ms" [(ngModel)]="sub.country" (change)="confirmCountry()" >
                                  <option *ngFor="let obj of countries" [ngValue]="obj">
                                    {{ obj.name }}
                                  </option>
                                </select>
                                
                          </div>
                          
                      </div><br>
  
                      <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label class="required-field" for="city">Cities</label>
                              <select name="ms" [(ngModel)]="sub.city"   (change)="confirmCity()">
                                  <option *ngFor="let obj of cities" [ngValue]="obj">
                                    {{ obj.name }}
                                  </option>
                                </select>
                               
                          </div>
                      </div><br>
  
                      <div class="col-sm-12 mb-3">
                          <div class="form-group">
                              <label class="required-field" for="address">Addresses</label>
                              <select name="ms" [(ngModel)]="sub.address" >
                                  <option *ngFor="let obj of addresses" [ngValue]="obj">
                                    {{ obj.street }} {{ obj.streetNumber }}
                                  </option>
                                </select>
                          </div>
                      </div><br>
  
                        <div class="col-sm-12 mb-3">
                            <button type="submit" name="submit" class="btn btn-primary">Save</button>
                        </div>
  
                    </div>
                </form>
            </div>
  
  
        </div>
    </div>
  </div>
  