
    <p>Do you want to add subscriber on proposal?</p> <br>

    <button (click)= addSubscriber()>yes</button><br>
    <div *ngIf="sub">
      <form #AddSubForm="ngForm" (ngSubmit)="addSubscriberDriver()" class="contact-form form-validate" method="post" action="" >
    
    <div class="col-sm-6 mb-3">
      <div class="form-group">
          <label class="required-field" for="licenceNumDriver">Licence number</label>
          <input type="text" class="form-control" id="licenceNumDriver" [(ngModel)]="licenceNumDriver" name="licenceNumDriver">
      </div>
  </div>
  <div class="col-sm-12 mb-3">
      <div class="form-group">
          <label class="required-field" for="licenceObtainedDriver">Licence Obtained</label>
          <input type="date" class="form-control" id="licenceObtainedDriver" [(ngModel)]="licenceObtainedDriver" name="licenceObtainedDriver">
      </div>
  </div><br>
  <div class="col-sm-6 mb-3">
      <div class="form-group">
          <label class="required-field" for="yearsInsuredDriver">Years insured</label>
          <input type="number" class="form-control" id="yearsInsuredDriver" [(ngModel)]="yearsInsuredDriver" name="yearsInsuredDriver">
      </div>
  </div>
  <button type="submit" name="submit" class="btn btn-primary">Save</button>
</form>
</div> 
<p>how many drivers do you want on proposal?</p>
   <select name="number" [(ngModel)]="numberOfDrivers" (change)="acordions()" >
       <option  [ngValue]=1>
         1 
       </option>
       <option  [ngValue]=2>
           2
         </option>
         <option  [ngValue]=3>
           3
         </option>
         <option  [ngValue]=4>
           4
         </option>
     </select> 
     <div *ngFor="let number of numbers" class="acordion">
        <app-acordion-add-driver (addingDriver)=addDriver($event)
        (addingExistingDriver)=addExistingDriver($event)></app-acordion-add-driver>
        <br> <br>
       
     </div>
     <br>
     <br>
     <button (click) = addDrivers()> add driver(s) on proposal</button>
 