
<html>

<body>
     <div class="class1">
        <div class="col-lg-8">

            <label><b>Brands: </b></label><br>
           <select [(ngModel)]="selectedBrand" class="form-control"  (change)="getModels(selectedBrand)">
            
                <option *ngFor="let o of brands" [value]="o">
                    {{o}}
                </option>
            </select>
            <br />
        </div>

        <div class="col-lg-8">

            <label><b>Models: </b></label>
            <select name="ms" [(ngModel)]="selectedModel" class="form-control"  (change)="getYears(selectedBrand,selectedModel)">
            
                <option *ngFor="let obj of models" [ngValue]="obj.model">
                    {{ obj.model }}
                </option>
            </select>
            <br />
        </div>

        <div class="col-lg-8">

            <label><b>Years: </b></label>
            <select name="ms" [(ngModel)]="selectedYear" class="form-control"> <!--(change)="getCar(selectedBrand,selectedModel, selectedYear)-->
                
                <option *ngFor="let obj of years" [ngValue]="obj.year">
                    {{ obj.year }}
                </option>
            </select>
            <br />
        </div>
        <div class="col-lg-12">

            <label><b>Licence plates: </b></label><br>
            <input type="text" name="liceneceNum" id="liceneceNum" [(ngModel)]="liceneceNum">
            <br />
        </div><br>
    </div>
    <button (click)="setLicencePlateNumber()" class="btn" routerLink="/searchDriver">Next</button>
</body>

</html>