<div class="search-hero">
    <input type="text" #searchInput (keyup.enter)="searchSubscriber(searchInput.value)" class="form-control"  name="search" autocomplete="off"
        placeholder="&#61442;  Start searching ">
    <div class="class1">
        <h2><button type="submit" (click)="searchSubscriber(searchInput.value)" class="btn ">Search</button></h2>
    </div>
</div>


