<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"> -->
<div class="container">
    <div class="row">
        <div class="col-sm-2 form-group">
            <label for="brand">Brand</label>
            <input type="text" id="brand" class="form-control" name="brand" (keyup) ="searchCars($event)" [(ngModel)]="brand">
        </div>
        <div class="col-sm-2 form-group">
            <label for="model">Model</label>
            <input type="text" id="model" class="form-control" name="model" (keyup) ="searchCars($event)" [(ngModel)]="model">
        </div>
        <div class="col-sm-2 form-group">
            <label for="year">Year</label>
            <input type="text" id="year" class="form-control" name="year" (keyup) ="searchCars($event)" [(ngModel)]="year">
        </div>
        <div class="col align-self-end">
            <button class="btn btn-primary" type="submit" >Search</button>
        </div>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr class="clickable" *ngFor="let car of cars">

                    <td>{{car.brand}}</td>
                    <td>{{car.model}}</td>
                    <td>{{car.year}}</td>

                    <button class="btn btn-primary" (click)="onEdit(car)">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(car)">Delete</button>
                  
                </tr>
                
            </tbody>
            
        </table>
    </div>
    <h3>{{deleteMSG}}</h3>
    <div class="row">
        <div class="col-sm">
            <button type="submit" class="btn btn-primary" routerLink="/newCar">Add new car</button>
            <button class="btn btn-primary" (click)="onIncrement()">next Page</button>
            <button class="btn btn-danger" (click)="onDecrement()">prev Page</button>
        </div>
    </div>
</div>

<jw-modal id="carEditModal">
  <h1> Car Edit </h1>
    <form (ngSubmit)="onSave(f)" #f="ngForm">
      <div class="col-sm-2 form-group">
          <label for="brand">Brand</label>
          <input type="text" id="brand" class="form-control" name="brand" value="{{brandPlaceholder}}" [(ngModel)] = "brandPlaceholder">
      </div>
      <div class="col-sm-2 form-group">
          <label for="model">Model</label>
          <input type="text" id="model" class="form-control" name="model" value="{{modelPlaceholder}}" [(ngModel)] = "modelPlaceholder">
      </div>
      <div class="col-sm-2 form-group">
          <label for="year">Year</label>
          <input type="text" id="year" class="form-control" name="year" value="{{yearPlaceholder}}" [(ngModel)] = "yearPlaceholder">
      </div>
      <div class="row">
          <div class="col-md-4">
              <button class="btn btn-primary" type="submit">Edit</button>
              <button (click)="closeModal('carEditModal');">Close</button>
          </div>
      </div>
    </form>
    <p>{{msg}}</p>
</jw-modal> 