<div class="container">
    <div class="row">
        <div class="class2">
            <div class="search-hero">
                <input type="text" #searchInput (keyup.enter)="searchDriver(searchInput.value)" class="form-control"
                    name="search" autocomplete="off" placeholder="&#61442;  Start searching ">
                <div class="class1">
                    <h2><button type="submit" (click)="searchDriver(searchInput.value)" class="btn ">Search</button>
                    </h2>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>JMBG</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Licence number</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of drivers">

                    <td>{{d.jmbg}}</td>
                    <td>{{d.firstName}}</td>
                    <td>{{d.lastName}}</td>
                    <td>{{d.licenceNum}}</td>
                    <td><button type="submit" class="btn">Next</button>
                    </td>

                </tr>
            </tbody>
        </table>
       
        <div *ngIf="drivers?.length ==0">
            Not found <a routerLink='/addPerson'>Add new driver</a>
        </div>

    </div>
</div>