<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="col-md-6">
    <strong><i>Proposal review</i></strong><br>
    <div class="table-responsive">
        <table class="table table-user-information">
            <tbody *ngFor="let p of prop">
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary">
                                        <i class=""></i></span>
                                    Id proposal
                                </strong>
                            </td>

                            <td>{{p.id}}</td>

                        </tr>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary">
                                        <i class=""></i></span>
                                    First Name
                                </strong>
                            </td>

                            <td>{{p.subscriber.firstName}}</td>

                        </tr>

                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    Last Name
                                </strong>
                            </td>
                            <td>{{p.subscriber.lastName}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    JMBG
                                </strong>
                            </td>
                            <td>{{p.subscriber.jmbg}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    Birth
                                </strong>
                            </td>
                            <td>{{p.subscriber.birth}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    Email
                                </strong>
                            </td>
                            <td>{{p.subscriber.contact.email}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    Home phone
                                </strong>
                            </td>
                            <td>{{p.subscriber.contact.homePhone}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    Mobile phone
                                </strong>
                            </td>
                            <td>{{p.subscriber.contact.mobilePhone}}</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    Address
                                </strong>
                            </td>
                            <td>{{p.subscriber.address.street}} {{p.subscriber.address.streetNumber}} ,
                                {{p.subscriber.address.city.name}}</td>
                        </tr>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <tr>
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary">
                                        <i class=""></i></span>
                                    Car
                                </strong>
                            </td>
                            <td>{{p.car.brand}} {{p.car.model}} {{p.car.year}}</td>
                        </tr>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary">
                                    <i class=""></i></span>
                                Drivers
                            </strong>
                        </td>
                        <tr *ngFor="let d of drivers">

                            <td>{{d.firstName}} {{d.lastName}}</td>
                        </tr>
                    </div>
                </div>
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary">
                                    <i class=""></i></span>
                                Insurance plan
                            </strong>
                        </td>
                        <td>{{p.insurancePlan.name}}</td><br>
                        <td>
                            <strong>
                                <span class="glyphicon glyphicon-user  text-primary">
                                    <i class=""></i></span>
                                Items
                            </strong>
                        </td>
                        <tr *ngFor="let item of items">
                            
                            <td>{{item.name}} </td>
                        </tr>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>

<a class="btn bg-white btn-light mx-1px text-95" (click)="exportToPdf()" data-title="PDF">
    <i class="mr-1 fa fa-file-pdf-o text-danger-m1 text-120 w-2"></i>
    ProposalReview.pdf
</a>